@font-face {
  font-family: 'englisht';
  src: url(../fonts/englisht.ttf), url(../fonts/englisht.ttf) format(ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

.logo {
  position: relative;
}

body {
  font-family: 'Titillium Web', sans-serif;
  height: 1000rem;
}

body .header {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5rem;
  margin-bottom: 10rem;
}

body .header .logo_language {
  text-align: left;
  position: relative;
  width: 30rem;
}

body .header .logo_language .logo-text h2 {
  font-weight: 700;
  font-size: 3rem;
  color: #858688;
}

body .header .logo_language .logo-text span {
  color: #5b4295;
}

body .header .logo_language .language_choose {
  position: absolute;
  top: 4.1rem;
  left: 0;
  font-size: 1.4rem;
  color: #959595;
}

body .header .logo_language .language_choose span {
  cursor: pointer;
}

body .header .logo_language .language_choose .active {
  font-weight: 700;
}

body .header .navbar {
  width: 100px;
  text-align: left;
  position: relative;
}

body .header .navbar .nav-link {
  font-size: 1.8rem;
  color: #454545;
  margin-right: 2rem;
}

body .header .authorization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .header .authorization .login-wrap {
  color: #000;
}

body .header .authorization .login-wrap ::before {
  content: '';
  background-image: url(../img/login.svg);
  background-size: 50px 50px;
  background: #000;
}

body .header .authorization .login-wrap .login-button {
  font-weight: 700;
  border: none;
  background: transparent;
  color: #454545;
  font-size: 2rem;
  width: 94px;
  height: 40px;
  text-align: center;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .authorization .login-wrap .login-button svg {
  margin-right: 0.8rem;
  width: 17px;
  height: 17px;
  fill: #582c7e;
}

body .header .authorization .signup-button {
  font-weight: 700;
  border: none;
  color: #fff;
  font-size: 1.6rem;
  width: 94px;
  height: 40px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.17), 0 3px 3px rgba(102, 145, 233, 0.09), 0 3px 9px rgba(0, 0, 0, 0.09), 0 3px 9px rgba(53, 103, 205, 0.09), 0 4px 16px rgba(0, 0, 0, 0.09), 0 4px 16px rgba(102, 145, 233, 0.33), 0 13px 21px rgba(0, 0, 0, 0.15), 0 13px 21px rgba(20, 80, 204, 0.27), 0 7px 9px rgba(142, 117, 222, 0.15);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.17), 0 3px 3px rgba(102, 145, 233, 0.09), 0 3px 9px rgba(0, 0, 0, 0.09), 0 3px 9px rgba(53, 103, 205, 0.09), 0 4px 16px rgba(0, 0, 0, 0.09), 0 4px 16px rgba(102, 145, 233, 0.33), 0 13px 21px rgba(0, 0, 0, 0.15), 0 13px 21px rgba(20, 80, 204, 0.27), 0 7px 9px rgba(142, 117, 222, 0.15);
  border-radius: 20px;
  background-color: #582c7e;
  text-align: center;
}

body .main .ios-button {
  border: none;
  width: 46px;
  height: 46px;
  background-color: #5f2966;
  opacity: 0.9;
  border-radius: 50%;
  margin-right: 2rem;
}

body .main .ios-button svg {
  width: 2.4rem;
  height: 2.4rem;
  fill: #fff;
}

body .main .android-button {
  border-radius: 50%;
  border: none;
  width: 46px;
  height: 46px;
  background-color: #4a1c50;
  opacity: 0.79;
  text-align: center;
}

body .main .android-button svg {
  width: 20px;
  height: 22px;
}

body .main .welcome {
  text-align: center;
  margin-bottom: 10rem;
}

body .main .welcome h1 {
  color: #454545;
  opacity: 0.84;
  font-size: 6rem;
  font-weight: 600;
}

body .main .welcome p {
  font-size: 3.6rem;
  color: #464646;
}

body .main .welcome p span {
  color: #fc2028;
}

body .main .welcome .download {
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .main .welcome .download-button {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.18px;
  border: none;
  width: 246px;
  height: 56px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.17), 0 3px 3px rgba(102, 145, 233, 0.09), 0 3px 9px rgba(0, 0, 0, 0.09), 0 3px 9px rgba(53, 103, 205, 0.09), 0 4px 16px rgba(0, 0, 0, 0.09), 0 4px 16px rgba(102, 145, 233, 0.33), 0 13px 21px rgba(0, 0, 0, 0.15), 0 13px 21px rgba(20, 80, 204, 0.27), 0 7px 9px rgba(100, 115, 151, 0.15), 0 0 7px rgba(95, 47, 106, 0.25);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.17), 0 3px 3px rgba(102, 145, 233, 0.09), 0 3px 9px rgba(0, 0, 0, 0.09), 0 3px 9px rgba(53, 103, 205, 0.09), 0 4px 16px rgba(0, 0, 0, 0.09), 0 4px 16px rgba(102, 145, 233, 0.33), 0 13px 21px rgba(0, 0, 0, 0.15), 0 13px 21px rgba(20, 80, 204, 0.27), 0 7px 9px rgba(100, 115, 151, 0.15), 0 0 7px rgba(95, 47, 106, 0.25);
  border-radius: 28px;
  background-color: #5f2966;
  margin-right: 2rem;
}

body .main .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10rem;
}

body .main .features .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main .features .feature:nth-child(2) {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

body .main .features .feature__logo {
  text-align: center;
}

body .main .features .feature__text {
  text-align: left;
}

body .main .features .feature__text h4 {
  font-size: 3rem;
}

body .main .features .feature__text p {
  font-size: 1.8rem;
}

body .main .security {
  text-align: center;
}

body .main .security h1 {
  font-size: 6rem;
  color: #535353;
}

body .main .security p {
  font-size: 2.4rem;
  color: #959393;
  font-weight: 400;
}

body .main .security p span {
  color: #f65151;
}

body .main .security-button {
  margin-top: 2rem;
  width: 334px;
  height: 62px;
  color: #676767;
  border-radius: 31px;
  border: 1px solid #b9b9b9;
  background-color: #ffffff;
  font-size: 1.6rem;
}

body .main .testimonials {
  margin-top: 2rem;
}

body .main .testimonials .news {
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/Layer_16.png) no-repeat center;
}

body .main .testimonials .news svg {
  width: 20rem;
  height: 20rem;
}

body .main .testimonials .slider {
  position: relative;
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .main .testimonials .slider-count {
  margin-right: 2rem;
}

body .main .testimonials .slider-count__circle {
  width: 1.3rem;
  height: 1.3rem;
  background: #101010;
  border-radius: 50%;
  margin-bottom: 1rem;
  opacity: 0.3;
  cursor: pointer;
}

body .main .testimonials .slider-window {
  height: 18rem;
  overflow: hidden;
}

body .main .testimonials .slider-window .slider-block__wrap .slider-block {
  width: 60rem;
  font-style: italic;
}

body .main .testimonials .slider-window .slider-block__wrap .slider-block__text {
  font-size: 2.4rem;
  color: #101010;
}

body .main .testimonials .slider-window .slider-block__wrap .slider-block__author {
  font-size: 1.6rem;
  color: #727272;
}

body .main .testimonials .download {
  width: 100rem;
  text-align: right;
  position: absolute;
  right: 30rem;
  min-height: 100%;
  background: url(../img/download-bg.png) no-repeat right top;
}

body .main .testimonials .download-text {
  margin-top: 33%;
  width: 45%;
  min-height: 100%;
  margin-left: 7%;
}

body .main .testimonials .download-text h3 {
  font-size: 3.6rem;
  color: #535353;
}

body .main .testimonials .download-text p {
  font-size: 1.6rem;
  color: #959393;
}

body .main .testimonials .download-links {
  max-width: 68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .main .testimonials .download-links button {
  margin-right: 20rem;
}

body .main .testimonials .download-links button span {
  font-weight: 700;
}
/*# sourceMappingURL=main.css.map */